<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/window-main.css">
    </head>
    <body>
        <div id="sidebar">
            <div id="sidebar-menu">
                <input id="search-query" type="text" placeholder="Search..">
            </div>
            <div id="sidebar-content">
            </div>
        </div>
        <div id="content">
        </div>
        <script type="text/javascript" src="../lib/window-main.js"></script>
    </body>
</html>
