<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/window-main.css">
        <link rel="stylesheet" type="text/css" href="../styles/icons.css">
        <audio></audio>
    </head>
    <body>
        <div id="sidebar">
            <div id="sidebar-menu">
                <input id="search-query" type="text" placeholder="Search..">
            </div>
            <div id="sidebar-content">
            </div>
        </div>
        <div id="player">
            <div id="player-content">
                <div id="track-art">
                    <img src="../images/note.png" width="200" height="200"/>
                </div>
                <div id="track-metadata">
                    <span id="track-header">Now playing</span>
                    <span id="track-title"></span>
                </div>
            </div>
            <div id="player-controls">
                <div id="progress-bar">
                    <div id="progress-bar-overlay">
                    </div>
                </div>
                <div id="player-controls-buttons">
                    <div id="previous" class="media-button">
                        <span class="icon previous"></span>
                    </div>
                    <div id="play-pause" class="media-button">
                        <span class="icon play"></span>
                    </div>
                    <div id="next" class="media-button">
                        <span class="icon next"></span>
                    </div>
                    <div id="volume" class="media-button">
                        <span class="icon volume-up"></span>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../lib/window-main.js"></script>
    </body>
</html>
