<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/window-main.css">
    </head>
    <body>
        <div id="sidebar">
            <div id="sidebar-menu">
                <input id="search-query" type="text" placeholder="Search..">
            </div>
            <div id="sidebar-content">
            </div>
        </div>
        <div id="player">
            <div id="player-center">
                <div id="album-art">
                    <img src="../images/note.png" width="200" height="200"/>
                </div>
                <div id="player-controls">
                    <span id="track-header">Now playing</span>
                    <span id="track-title"></span>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../lib/window-main.js"></script>
    </body>
</html>
